<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade view</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #666eda;
        color: white;
        
    }
    tr:hover {
        background-color: #f5f5f5;
    }

</style>
<body>
    <table>
        
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th>Foto</th>
        </tr>
        {% for aluno in alunos %}
        <tr>
            <td> {{aluno.nome}} </td>
            <td> {{aluno.email}} </td>
            <td> {{aluno.cpf}} </td>
            <td> {{aluno.data_nascimento}} </td>
            <td> <img src="{{aluno.imagem.url}}" alt="Foto do aluno" height="100vh" width="100vw"> </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>